<!--DOCTYPE html>
<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
BOOKED
</body>
</html-->


<!DOCTYPE html>
<html lang="en">


<head>
    {% load staticfiles %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">


    <title>CREDENZ 16- SLOT BOOKING</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static "css/font-awesome.css" %}" rel="stylesheet" media="screen" id="font-awesome-css">
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static "css/login.css" %}">
    <!-- Custom CSS -->
    <link href="{% static "css/scrolling-nav.css" %}" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<style>
.demo-card
{

    margin-top: 90px;
    width :100%;
    max-width: 500px;
    border: 2px solid #0975b9;
    text-align: center;

   } </style>

<!-- The #page-top ID is part of the scrolling feature - the data-spy and data-target are part of the built-in Bootstrap scrollspy function -->
<script src= "{% static "js/jquery.min.js" %}"></script>
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top" onload="setevent();">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">

            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

               <div class="navimg navbar-brand"> <img src="{% static "pics/pisb.png" %}" class="navlogo"></div>
               
               <a class="navbar-brand page-scroll" href="#page-top">CREDENZ'16</a>

               

            </div>


            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul  class="nav navbar-nav navbar-right">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a class="page-scroll" href="#page-top"></a>
                    </li>

                     <li>
                        <a href="https://www.credenz.info">Back To Website</a>
                    </li>

                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <div id="uslot">
        <div class="container">
            <div class="row">
            <div class="col-lg-3"></div>
            <div class="col-lg-6 demo-card">
            	
    <div class="card">
        <div class="card-header">
           <h1>Slot Confirmation</h1>
        </div>
        
        <div class="card-block"><br>
            <h4 class="card-title">Slot Successfully Booked!</h4><br>
            <!--h6 class="card-subtitle text-muted">Support card subtitle</h6>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p-->
            <ul class="list-group list-group-flush">
                <li id="evtname" class="list-group-item"></li>
                <li class="list-group-item">Date: {{slot.date_slot}} September 2016</li>
                <li id="timename" class="list-group-item"></li>
                <li class="list-group-item">Venue: PICT,Pune.</li>
            </ul>
        </div>
        
        <div class="card-block">
             <p>Thank you!</p>
        </div>
        <div class="card-footer text-muted">
        
            <a href="" class="card-link col-lg-6">Book Another Slot!  </a>
            <a href="https://www.credenz.info" class="card-link col-lg-6">    Explore Credenz!</a>
    
        
           
        </div>
    </div>


                 </div>	
                

           
        <div class="col-lg-3"></div> 

 </div>
        
        <div class="row footer1">
    <div class="col-lg-12">
        
   <center><big>Copyright &copy CREDENZ, PICT IEEE Student Branch, 2016</big></center>
    
    </div>
</div>

        </div>
    </div>

</body>

<script type="text/javascript">
 
window.location.hash="no-back-button";
window.location.hash="Again-No-back-button";//again because google chrome don't insert first hash into history
window.onhashchange=function(){window.location.hash="no-back-button";}






function setevent()
{
    eventname="{{slot.event_flag}}" ;
    if (eventname=="False") 
    {
        document.getElementById("evtname").innerHTML = "Event : Reverse Coding" ;


    }
    else
        document.getElementById("evtname").innerHTML = "Event : Clash";

    var initslot=7;
    var startslot,endslot;
    var index1="{{slot.time_slot}}";

    if(index1%2==1)
          {
         
              startslot= initslot+ (index1/2)+0.5+":00 to ";
              endslot = initslot  + (index1/2)+0.5+":30";
          }
          else
          {
            startslot= initslot+ (index1/2)+":30 to ";
              endslot = initslot + (index1/2)+1+":00"; 
          }


    document.getElementById("timename").innerHTML = startslot+endslot ;
}
        
</script>
</html>
