<!--DOCTYPE html>
<html>
<body>
User id {{user.id}}	<br>
Registration ID {{user.username}}<br>
Password {{user.userdata.password}}<br>
Name1 {{user.userdata.name1}}<br>
Name2 {{user.userdata.name2}}<br>
email1 {{user.userdata.email1}}<br>
email2 {{user.userdata.email2}}<br>
mobile No 1 {{user.userdata.mobile_no1}}<br>
mobile No 2 {{user.userdata.mobile_no2}}<br>
event {{user.userdata.event_flag}}<br>
{{message}}
</body>
</html-->

<!DOCTYPE html>
<html lang="en">

<head>
{% load staticfiles %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Participant entry</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static "css/scrolling-nav.css" %}" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<!-- The #page-top ID is part of the scrolling feature - the data-spy and data-target are part of the built-in Bootstrap scrollspy function -->

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top" >

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">SLOT BOOKING</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a class="page-scroll" href="#page-top"></a>
                    </li>
                    <li>
                        <form class="form-horizontal" role="form" action =  "log_out" method = "post">
                             {% csrf_token %}
                            <input type = "hidden" name = "link" value = "log_out">
                             <input type = "submit" value = "LOG OUT">

                       </form>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Intro Section -->
    <section id="intro" class="intro-section">
        <div class="container1">
            <div class="row">
                <div class="col-lg-12" disabled>
                        <form class="form-horizontal" role="form" method = "post" action = "modify">
                        {% csrf_token %}
                            <br><br>
                            <div class="form-group" class="col-lg-10">
                                <label for="lreceipt" class="col-sm-2 control-label">Receipt Number:</label>
                                <div class="col-sm-4">
                                <input type="text" class="form-control" id="receipt" name = "registration_id" placeholder="{{user.userdata.registration_id}}" disabled></input>
                                </div>
                            
                                <label for="luserid" class="col-sm-2 control-label">Username:</label>
                                <div class="col-sm-4">
                                <input type="text" class="form-control" id="uid" name = "username" value = "{{user.username}}" disabled></input>
                                </div>
                            </div>
                                <div class="form-group">

                                <label for="lpass" class="col-sm-2 control-label">Password:</label>
                                <div class="col-sm-4">
                                <input type="text" class="form-control" id="pass" name = "password" placeholder="{{user.userdata.password}}" disabled></input>
                            </div>

                                <label for="lpass" class="col-sm-2 control-label">Event:</label>
                                <div class="col-sm-4">
                                <input type="text" class="form-control" id="event" value="{{user.userdata.event_flag}}" name ="event" disabled></input>
                                </div>
                            </div>
                                <div class="form-group">
                                <label for="luser1" class="col-sm-2 control-label">Name 1:</label>
                                <div class="col-sm-4">
                                <input type="text" class="form-control" id="name1" name = "name1" placeholder="{{user.userdata.name1}}" disabled></input>
                                </div>
                                <label for="luser1" class="col-sm-2 control-label">Name 2:</label>
                                <div class="col-sm-4">
                                <input type="text" class="form-control" id="name2" name = "name2" placeholder="{{user.userdata.name2}}" disabled></input>
                                </div>
                                </div>

                                <div class="form-group">
                                <label for="lmail1" class="col-sm-2 control-label">Email1:</label>
                                <div class="col-sm-4">
                                <input type="text" class="form-control" id="email1" name = "email1" value="{{user.userdata.email1}}" disabled></input>
                                </div>

                                <label for="lmail2" class="col-sm-2 control-label">Email2:</label>
                                <div class="col-sm-4">
                                <input type="text" class="form-control" id="email2" name = "email2" value="{{user.userdata.email2}}" disabled></input>
                                </div>                                
                                </div>


                                <div class="form-group">
                                <label for="lphone1" class="col-sm-2 control-label">Mobile No1:</label>
                                <div class="col-sm-4">
                                <input type="text" class="form-control" id="phone1" name = "mobile_no1" value="{{user.userdata.mobile_no1}}" disabled></input>
                                </div>

                                <label for="lphone2" class="col-sm-2 control-label">Mobile No2:</label>
                                <div class="col-sm-4">
                                <input type="text" class="form-control" id="phone2" name = "mobile_no2" value="{{user.userdata.mobile_no2}}" disabled></input>
                                </div>                                
                                </div>


                                <div class="form-group">
                                <label for="lphone1" class="col-sm-2 control-label">Slot Booked status:</label>
                                <div class="col-sm-4">
                                <input type="text" class="form-control" id="slotstatus" name = "sbstatus" placeholder="{{user.userdata.slot_booked}}" disabled></input>
                                </div>
                                </div>

                                <div class="form-group" >
                                <label for="lphone1" class="col-sm-2 control-label">Slot Booked time:</label>
                                <div class="col-sm-4">
                                <input type="text" class="form-control" id="slottime"  disabled></input>
                                </div>

                                <label for="lphone1" class="col-sm-2 control-label">Slot Booked date:</label>
                                <div class="col-sm-4">
                                <input type="text" class="form-control" id="slotdate"  disabled></input>
                                </div>
                            </div>


                                <div class="form-group" >
                                <label for="lphone1" class="col-sm-2 control-label">Slot Booked Room:</label>
                                <div class="col-sm-4">
                                <input type="text" class="form-control" id="room_no" placeholder="{{user.userdata.slot.room_no}}"  disabled></input>
                                </div>
                            </div>


                            
                                <div>
                                <button type="submit" class="btn btn-default " id="submit" disabled>Submit</button><br><br>
                                </div>                                    


                                </form>


                                <div>
                                <button class="btn btn-default " id="edit" onclick="enabletoedit();">Edit</button><br><br>
                            </div>
                                                                                            <div class="col-lg-12" align="center">
                                <!--button class="btn btn-default " id="updateBtn" onclick="updateFunc();">Update</button-->
                                </div>
                                <p align = "center" style = "color: #f44336;">{{message}}</p>
                </div>
            </div>
            <div class="row">
    <div class="col-lg-12">
        <div class="footer1">
   <center><big>Copyright &copy CREDENZ, PICT IEEE Student Branch, 2016</big></center>
    </div>
    </div>
</div>
        </div>
    </section>



    <!-- jQuery -->
    <script src= "{% static "js/jquery.js" %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static "js/bootstrap.min.js" %}" ></script>

    <!-- Scrolling Nav JavaScript -->
    <script src="{% static "js/jquery.easing.min.js" %}"></script>
    <script src="{% static "js/scrolling-nav.js" %}"></script>

</body>

<script type="text/javascript">
eventNameDisplay(); 
getslot();
function enabletoedit()
{
    document.getElementById("submit").removeAttribute("disabled");
     document.getElementById("email1").removeAttribute("disabled");
     document.getElementById("uid").removeAttribute("disabled");
      document.getElementById("email2").removeAttribute("disabled");
       document.getElementById("phone1").removeAttribute("disabled");
        document.getElementById("phone2").removeAttribute("disabled");
    document.getElementById("updateBtn").style.visibility="visible";

}

function eventNameDisplay()
{
    //document.getElementById("updateBtn").style.visibility="hidden";
    var evtName=document.getElementById("event").value;
    if(evtName=="True")
    {
        document.getElementById("event").value="";
        document.getElementById("event").setAttribute("placeholder","Clash");
    
    }
    else
    {
        document.getElementById("event").value="";
        document.getElementById("event").setAttribute("placeholder","Reverse Coding");
    
    }
}



function getslot()
{
    var initslot=7;
    var startslot,endslot;
    var tb=document.getElementById("slotstatus").getAttribute("placeholder");
    

    if(tb=="True")
    { 
    index1="{{user.userdata.slot.time_slot}}";
   
    if(index1%2==1)
          {
         
              startslot= initslot+ (index1/2)+0.5+":00 to ";
              endslot = initslot  + (index1/2)+0.5+":30";
          }
          else
          {
            startslot= initslot+ (index1/2)+":30 to ";
              endslot = initslot + (index1/2)+1+":00"; 
          }

 
var ans=startslot+endslot;
	alert(ans);

    document.getElementById("slottime").setAttribute("placeholder",ans);
       document.getElementById("slotdate").setAttribute("placeholder","{{user.userdata.slot.date_slot}}");
    }

}
</script>

</html>
